<div class="nav-bottom-block">
    {% for menu in menu_bottom %}
    <div class="col-sm-3">
            <h4 class="text-title">{{ menu.title }}</h4>
            <div class="content">
                {% if menu.child|length > 0 %}
                <ul class=" menu-bottom-block">
                    {% for item in menu.child %}
                    <li>
                        <a href="{{ item.url }}"><i class="fa fa-caret-right"></i> {{ item.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
    </div>
    {% endfor %}
</div>
