<div class="nav-bottom-block">
    <div class="row">
        {% for menu in menu_bottom %}
        <div class="col-md-3 col-sm-6 col-xs-6">
            <h4 class="text-title">{{ menu.title }}</h4>
            {% if menu.child|length > 0 %}
            <ul>
                {% for item in menu.child %}
                <li>
                    <a href="{{ item.url }}"><i class="fa fa-caret-right"></i> {{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
