<div class="product-feature-block">
	<div class="pre-content product-item">
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style">
		<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
		<a class="addthis_button_tweet"></a>
		<a class="addthis_button_pinterest_pinit"></a>
		<a class="addthis_counter addthis_pill_style"></a>
		</div>
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4fff9b8d24c2d509"></script>
		<!-- AddThis Button END -->
	</div>
 
    {% if productfeatured|length > 0 %}
        <ul class="product-list-item unstyled">
            {% for productlist in productfeatured %}
                {% include 'snippets/product-item.html' %}
            {% endfor %}
        </ul>        
    {% endif %}
    
    
</div>