
#tabbed_box_1 {
	margin: 0px auto 0px auto;
}
.tabbed_box h4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:23px;
	color:#ffffff;
	letter-spacing:-1px;
	margin-bottom:10px;
}
.tabbed_box h4 small {
	color:#e3e9ec;
	font-weight:normal;
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	position:relative;
	top:-4px;
	left:6px;
	letter-spacing:0px;
}
.tabbed_area {
}

ul.tabsed {
	margin:0px; padding:0px;
	margin-top:5px;
	margin-bottom:0px;
}
ul.tabsed li {
	list-style:none;
	display:inline;
}
ul.tabsed li a {
	background-color:#8EBD2F;
	color:#fff;
	padding:8px 14px 8px 14px;
	text-decoration:none;
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;

	border:1px solid #464c54;
	background-repeat:repeat-x;	 
	background-position:bottom;
}
ul.tabsed li a:hover {
	background-color:#98CB2F;
	border-color:#2f343a;
}
ul.tabsed li a.tabactive {
	background-color:#ffffff;
	color:#282e32;
	border:1px solid #464c54; 
	border-bottom: 1px solid #ffffff;
	background-image:url(http://d2o0t5hpnwv4c1.cloudfront.net/001_Tabbed/site/images/tab_on.jpg);
	background-repeat:repeat-x;
	background-position:top;	
}
.tabcontent {
	background:#fff;
    font-family: "Source Sans Pro",Arial,sans-serif;
	font-size:12px;
}
#content_2, #content_3 , #content_4 , #content_5 , #content_6 , #content_7 { display:none; }

.tabcontent ul {
	margin:0px;
	padding:0px 10px 0px 10px;
	background:#fff;
}
.tabcontent ul li {
	list-style:none;
	border-bottom:1px solid #d6dde0;
	padding-top:15px;
	padding-bottom:15px;
	font-size:13px;
}
.tabcontent ul li:last-child {
	border-bottom:none;
}
.tabcontent ul li a {
	text-decoration:none;
	/*color:#3e4346;*/
	color:#F90;
}
.tabcontent ul li div {
color: #6C7379;
font-size: 12px;
text-transform: uppercase;
width: 25%;
float: left;
font-weight: bold;
}
.tabcontent ul li a:hover {
	color:#a59c83;
}
.tabcontent ul li a:hover small {
	color:#baae8e;
}

/*=============*/

.tablecloth{width:100%;border-collapse:collapse;margin:1em 0;}
.tablecloth tr td,.tablecloth tr th {font-family:Verdana, Geneva, sans-serif; font-size:11px; text-align:right}
.tablecloth th, .tablecloth td{text-align:left;padding:.5em;border:1px solid #fff;}
.tablecloth th{background:#328aa4 url(tr_back.gif) repeat-x;color:#fff;}
.tablecloth tr td{background:#e5f1f4;}

/* tablecloth styles */

.tablecloth tr.even td{background:#e5f1f4;}
.tablecloth tr.odd td{background:#f8fbfc;}

.tablecloth th.over, .tablecloth tr.even th.over, .tablecloth tr.odd th.over{background:#4a98af;}
.tablecloth th.down, .tablecloth tr.even th.down, .tablecloth tr.odd th.down{background:#bce774;}
.tablecloth th.selected, .tablecloth tr.even th.selected, .tablecloth tr.odd th.selected{}

.tablecloth td.over, .tablecloth tr.even td.over, .tablecloth tr.odd td.over{background:#ecfbd4;}
.tablecloth td.down, .tablecloth tr.even td.down, .tablecloth tr.odd td.down{background:#bce774;color:#fff;}
.tablecloth td.selected, .tablecloth tr.even td.selected, .tablecloth tr.odd td.selected{background:#bce774;color:#555;}

/* use this if you want to apply different styleing to empty table cells*/
.tablecloth td.empty, .tablecloth tr.odd td.empty, .tablecloth tr.even td.empty{background:#fff;}

table.genericsmall td{
	vertical-align:middle;
	font-size:11px;
}

/*888888888*/
table.genericsmall{
	background-color:#CCCCCC;
	border-spacing:1px;
	width:500px;
	margin-left:110px;
}

table.genericsmall td{
	padding:3px;
	font-size:12px;
}

table.genericsmall tr:hover{
	background-color: #eef;
}

table.genericsmall tr{
	background-color:#fff;
}


table.genericsmall tr.genericheadsmall{
	background-color: #FF99CC;
	font-weight:bold;
}




/**
 * ======================================================
 * RESPONSIVE
 * ======================================================*/

