<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script src="{{ 'jquery.gmap.js'|asset_url }}" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#img_captcha').click(function() {
        $(this).attr('src', '{{ captcha_url }}?r=' + Math.random());
    });
    $("#contact_form").validate({
        rules: {
            name: {
                required: true,
                minlength: 3
            },
            email: {
                required: true,
                email: true
            },
            address: {
                required: true
            },
            content: {
                required: true
            },
            captcha: {
                required: true
            }
        },
        messages: {
            name: {
                required: '<i class="fa fa-exclamation-triangle"></i> ' + "{{ 'Nama harus diisi'|lang }}",
                minlength: "Nama minimal 3 karakter"
            },
            email: {
                required: '<i class="fa fa-exclamation-triangle"></i> ' +"Email harus diisi",
                email: '<i class="fa fa-exclamation-triangle"></i> ' +"Email tidak valid (contoh: nama@domain.com)"
            },
            address: {
                required: '<i class="fa fa-exclamation-triangle"></i> ' +"Alamat harus diisi"
            },
            content: {
                required: '<i class="fa fa-exclamation-triangle"></i> ' +"Pesan harus diisi"
            },
            captcha: {
                required: '<i class="fa fa-exclamation-triangle"></i> ' +"Kode captcha harus diisi"
            }
        },
        errorLabelContainer: '.errorMsg',
        errorElement: 'div',
        errorClass: "errorMsg",
        submitHandler: function() {
            $.ajax({
                type: 'POST',
                url: $('#contact_form').attr('action'),
                data: $('#contact_form').serialize(),
                dataType: "json",
                success: function(data) {
                    if (data.status == 1) {
                        $('#result').html("<div class='alert alert-success'>"+data.msg+"</div>").show();
                        $('#contact-form').hide();
                    } else if (data.status == 2) {
                        $('#result').html("<div class='alert alert-danger'>"+data.msg+"</div>").show();
                        $('#img_captcha').attr('src', '{{ captcha_url }}?r=' + Math.random());
                    }
                }
            });
            return false;
        },
        errorPlacement: function(error, element) {
            var field = element.parent(".input").parent(".field");
            field.addClass('invalid');
            $('div.ferror', field).remove();
            error.prependTo(field);
        },
    });

// gmap
        $("#contact_map").gMap({
            {% if latitude != '' and longitude != '' %}
            markers: [ { latitude: '{{ latitude }}', longitude: '{{ longitude }}' } ],
            latitude: '{{ latitude }}',
            longitude: '{{ longitude }}',
            {% else %}
            markers: [ { address: '{{ address }}' } ],
            address: '{{ address }}',
            {% endif %}
            zoom: 14,
            mapTypeControl: false,
            zoomControl: false,
            scrollwheel: false
        });
});
</script>


<!-- contact page-->
<div class="row">
    <div id="contact-main">
    <!-- gmap -->
    <div class="gmap col-md-12">
                        {% if address or latitude and longitude %}
                <div class="map">
                    <div id="contact_map" style="width:100%; height:340px;"></div>
                </div>
                {% endif %}
    </div>
        <!-- form contact -->
        <div class="contact-form col-md-6">
            <!-- contact title -->
            <div class="breadcrumb">
                <h2 class="text-title">{{ 'Kirim Pesan'|lang }}</h2>
            </div>


            <!-- contact content -->
                <form id="contact_form" class="form-vertical" name="contact_form" method="post" action="{{ contact_save_url }}">
                    <!-- error msg -->
                    <div id="result" class="col-md-8 col-md-offset-4">
                        <div class="errorMsg alert alert-danger" style="display:none;"></div>
                    </div>
                    {% if show_name == 1 %}
                    <div class="form-group">
                        <label for="input_name" class="col-sm-4 control-label">{{ 'Nama'|lang }}
                            <span>*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" id="input_name" name="name" value="" class="form-control">
                        </div>
                    </div>
                    {% endif %} {% if show_email == 1 %}
                    <div class="form-group">
                        <label for="input_email" class="col-sm-4 control-label">{{ 'Email'|lang }}
                            <span>*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="email" id="input_email" name="email" value="" class="form-control">
                        </div>
                    </div>
                    {% endif %} {% if show_phone == 1 %}
                    <div class="form-group">
                        <label for="input_phone" class="col-sm-4 control-label">{{ 'No. Telp'|lang }}
                        </label>
                        <div class="col-sm-8">
                            <input type="text" id="input_phone" name="notelp" value="" class="form-control">
                        </div>
                    </div>
                    {% endif %} {% if show_hp == 1 %}
                    <div class="form-group">
                        <label for="input_hp" class="col-sm-4 control-label">{{ 'No. Handphone'|lang }}
                            <span>*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" id="input_hp" name="nohp" value="" class="form-control">
                        </div>
                    </div>
                    {% endif %} {% if show_address == 1 %}
                    <div class="form-group">
                        <label for="input_address" class="col-sm-4 control-label">{{ 'Alamat'|lang }}
                            <span>*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" id="input_address" name="address" value="" class="form-control">
                        </div>
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="input_content" class="col-sm-4 control-label">{{ 'Pesan'|lang }}
                            <span>*</span>
                        </label>
                        <div class="col-sm-8">
                            <textarea id="input_content" name="content" rows="4" cols="40" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_captcha" class="col-sm-4 control-label">{{ 'Kode Captcha'|lang }}
                            <span>*</span>
                        </label>
                        <div class="col-sm-8">
                            <img id="img_captcha" src="{{ captcha_url }}" />
                            <p>
                                <strong>{{ 'Isikan kode diatas'|lang }}</strong>
                            </p>
                            <input class="form-control col-md-6" type="text" id="captcha" name="captcha" value="" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <input class="btn btn-primary pull-right" type="submit" id="submit_message" name="add_contact" value="{{ 'Kirim'|lang }}" />
                        </div>
                    </div>
                </form>

        </div>

        <!-- widget box -->
        <div class="widget-box col-md-6">
            <!-- title map -->
            <div class="breadcrumb">
                <h2 class="text-title">{{ 'Info Kontak'|lang }}</h2>
            </div>

            <!-- content widget box -->
            <div class="widget-content">
                <div class="contact-text">
                    {{text}}
                </div>
            </div>
        </div>

    </div>
</div>
