<script type="text/javascript">
$(document).ready(function() {
    $("#reset_form").validate({
        rules: {
            password: {
                required: true,
                minlength: 3
            },
            password2: {
                required: true,
                equalTo: "#password"
            }
        },
        messages: {
            password: {
                required: "{{ 'Password harus diisi'|lang }}",
                minlength: "{{ 'Password minimal 3 karakter'|lang }}"
            },
            password2: {
                required: "{{ 'Ulangi Password harus diisi'|lang }}",
                equalTo: "{{ 'Password & Ulangi Password tidak sama'|lang }}"
            }
        },
        errorLabelContainer: '.errorMsg',
        errorElement: 'div',
        submitHandler: function() {
            $.ajax({
                type: 'POST',
                url: $('#reset_form').attr('action'),
                data: $('#reset_form').serialize(),
                dataType: "json",
                success: function(data) {
                    if (data.status == 1) {
                        window.location.href = data.redirect;
                    } else if (data.status == 2) {
                        $('#result').html(data.msg).show();
                    }
                }
            });
            return false;
        }
    });
});
</script>

<!-- breadcrumb -->
<div class="row">
    <div class=" col-md-12">
        <div class=" breadcrumb">
            <h3 class="text-title">{{ 'Rubah Password'|lang }}</h3>
        </div>
    </div>
</div>




<div class="row">
    <div id="member-reset-password">
        <form id="reset_form" class="form-vertical col-md-8" name="reset_form" method="post" action="{{ resetpass_action_url }}">
            <!-- error mesagge -->
            <div id="result" class="col-md-8 col-md-offset-4">
                <div class="errorMsg" style="display:none;"></div>
            </div>

            <<!-- email -->
                <div class="form-group">
                    <label class="col-md-4">{{ 'Email'|lang }}</label>
                    <div class="col-md-8">
                        <input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title="" placeholder="okoko">
                    </div>
                </div>

                <!-- new password -->
                <div class="form-group">
                    <label class="col-md-4">{{ 'Password Baru'|lang }}</label>
                    <div class="col-md-8">
                        {{ email }}
                    </div>
                </div>

                <!-- password confirmation -->
                <div class="form-group">
                    <label class="col-md-4">{{ 'Ulangi Password Baru'|lang }}</label>
                    <div class="col-md-8">
                        <input class="text" type="password" name="password2" id="password2" size="40" />
                    </div>
                </div>

                <!-- submit -->
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-4">
                        <input class="formBtn btn btn-primary" type="submit" name="add_reset" value="{{ 'Reset'|lang }}" />
                    </div>
                </div>

        </form>

    </div>
</div>
