<script type="text/javascript">
$(document).ready(function() {
   
    // delete address
    $(".delete_address").live("click", function() {
        if (confirm('Apakah yakin akan dihapus?')) {
            var id = $(this).attr('data-id');
            var liShortcut = $(this).closest('tr');

            $.ajax({
                type: 'POST',
                url: $(this).attr('href'),
                data: {
                    'id': id
                },
                dataType: "json",
                success: function(data) {
                    if (data.status == 1) {
                        liShortcut.fadeOut('remove');
                    }
                }
            })
        }
        return false;
    });

    $('#address_add_container').hide();

    // add address
    $('#address_add').toggle(function() {
        $(this).empty().html("<i class='fa fa-times-circle'></i> {{ 'Tutup'|lang }}");
        $('#address_add_container').slideToggle("slow");
    }, function() {
        $(this).empty().html("<i class='fa fa-plus-circle'></i>  {{ 'Tambah testimonial'|lang }}");
        $('#address_add_container').slideToggle("slow");
    });

    // hide address
    $('.edit_address_container').hide();
    $('.edit_address').live("click", function() {
        var id = $(this).attr('data-id');
        $('#edit_address_container-' + id).slideToggle("slow");
    });

    $("#address_list_container").load('{{ address_list_url }}');
});
</script>

<div class="title clearfix">
    <h3 class="text-title pull-left">{{ 'Daftar Alamat'|lang }}</h3>

    <a id="address_add" class="btn btn-primary pull-right" href="javascript:void(0);"><i class="fa fa-plus-circle"></i>  {{ 'Tambah Alamat Baru'|lang }}</a>
</div>
<div id="address_list_container"></div>
<div id="address_add_container" style="margin-bottom:20px;">
    {% include "templates/member-address-add.html" %}
</div>


