<script type="text/javascript">
$(".iframe").colorbox({
	iframe: true,
	width: "75%",
	height: "75%"
});
</script>
<div id="member-get-order">
	<table class="table table-bordered">
	<thead>
		<tr>
			<th>{{ 'Total Biaya'|lang }}
			</th>
			<th>{{ 'Tgl Order'|lang }}
			</th>
			<th>{{ 'Pembayaran'|lang }}
			</th>
			<th>{{ 'Dikirim'|lang }}
			</th>
			<th>{{ 'Status'|lang }}
			</th>
			<th>{{ 'Detail'|lang }}
			</th>
		</tr>
	</thead>
	<tbody>
		{% for item in order_list %}
		<tr>
			<td valign="top" align="right">{{ item.total_price|money }}</td>
			<td valign="top"><center>{{ item.order_date|date("d M Y") }}</center></td>
			<td valign="top">{{ item.payment_date is empty ? "" : item.payment_date|date("d M Y") }}</td>
			<td valign="top">{{ item.payment_date is empty ? "" : item.shipping_date|date("d M Y") }}</td>
			<td valign="top">{{ item.status }}</td>
			<td valign="top">
				<a class="iframe" href="{{ item.url }}">{{ 'Lihat Detail'|lang }}</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>