<script type="text/javascript">
$(document).ready(function() {
    $("#login_form").validate({
        rules: {
            email: {
                required: true,
                email: true
            },
            password: {
                required: true
            }
        },
        messages: {
            email: {
                required: "{{ 'Email harus diisi'|lang }}",
                email: "{{ 'Email tidak valid (contoh: nama@domain.com)'|lang }}"
            },
            password: {
                required: "{{ 'Password harus diisi'|lang }}"
            }
        },
        errorLabelContainer: '.errorMsg',
        errorElement: 'div',
        submitHandler: function() {
            $.ajax({
                type: 'POST',
                url: $('#login_form').attr('action'),
                data: $('#login_form').serialize(),
                dataType: "json",
                success: function(data) {
                    if (data.status == 1) {
                        window.location.href = data.redirect;
                    } else if (data.status == 2) {
                        $('#result').html(data.msg).show();
                    }
                }
            });
            return false;
        }
    });
});
</script>

<!-- breadcrumb -->
<div class="row">
    <div class="col-md-12">
        <div class="breadcrumb">
            <h2 class="text-title">
                {{ 'Login Member'|lang }}
            </h2>
        </div>
    </div>
</div>


<!-- member login -->
<div class="row">
    <div id="member-login">
        <!-- form input -->
        <div class="form-login">
            <div class="col-md-8">
                <form class="form-vertical" role="form" id="login_form" name="login_form" method="post" action="{{ login_action_url }}">
                
                    <!-- error msg -->
                    <div id="result" class="col-md-9 col-md-offset-3 msg-cation">
                        <div class="alert alert-danger errorMsg padd" style="display:none;"></div>
                    </div>

                    <!-- email -->
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ 'Email'|lang }}
                            <span>*</span>
                        </label>
                        <div class="col-md-9">
                            <input type="email" class="form-control" type="text" name="email" id="email">
                        </div>
                    </div>

                    <!-- password -->
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ 'Password'|lang }}
                            <span>*</span>
                        </label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="password" id="password">
                        </div>
                    </div>

                    <!-- submit -->
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input class="btn btn-primary pull-right" type="submit" name="add_login" value="{{ 'Login'|lang }}" />
                            <div>
                                {{ 'Klik
                                <a href="%s">disini</a>jika Anda lupa password!'|lang|format(lostpassword_url) }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
    <!-- member login end -->
</div>
