<script type="text/javascript">
$(document).ready(function() {
    $("#password_form").validate({
        rules: {
            email: {
                required: true,
                email: true
            }
        },
        messages: {
            email: {
                required: '<i class="fa fa-exclamation-triangle"></i> ' + "{{ 'Email harus diisi'|lang }}",
                email: '<i class="fa fa-exclamation-triangle"></i> ' + "{{ 'Email tidak valid (contoh: nama@domain.com)'|lang }}"
            }
        },
        errorLabelContainer: '.errorMsg',
        errorElement: 'div',
        submitHandler: function() {
            $.ajax({
                type: 'POST',
                url: $('#password_form').attr('action'),
                data: $('#password_form').serialize(),
                dataType: "json",
                success: function(data) {
                    if (data.status == 1) {
                        $('#result').html("<div class='alert alert-success'>" + data.msg + "</div>").show();
                        $('#password_form').hide();
                    } else if (data.status == 2) {
                        $('#result').html("<div class='alert alert-danger'>" + data.msg + "</div>").show();
                    }
                }
            });
            return false;
        }
    });
});
</script>
<div id="member-forget-password">
    <div class="row">
        <div class="breadcrumb">
            <h1 class="text-title">{{ 'Lupa Password'|lang }}</h1>
        </div>
        <div class="row">
            <form class="form-vertical col-md-4" role="form" id="password_form" name="password_form" method="post" action="{{ forgetpass_action_url }}">
                <!-- error msg -->
                <div id="result">
                    <div class="alert alert-danger errorMsg" style="display:none;"></div>
                </div>
                <!-- email -->
                <div class="form-group">
                    <label>{{ 'Email'|lang }}
                        <span>*</span>
                    </label>
                    <input class="form-control" type="text" name="email" id="email">

                </div>
                <!-- submit -->
                <div class="form-group">
                    <input class="btn btn-primary pull-right" type="submit" name="add_password" value="{{ 'Kirim'|lang }}" />
                </div>
            </form>
        </div>
    </div>
</div>
