<div class="row">
    <div class="col-md-12">
        <div class="breadcrumb">
            <h1 class="text-title">member area</h1>
        </div>
    </div>

    <div class="col-md-12">
        <div id="member-container">

            <div class="tabs-main">
                <ul class="tabs">
                    <li class="">
                        <a class="tabs-anchor active-tab" href="#tab1">
                            <span>{{ 'Dashboard'|lang }}</span>
                        </a>
                    </li>
                    <li class="">
                        <a class="tabs-anchor" href="#tab2">
                            <span>{{ 'Status Order'|lang }}</span>
                        </a>
                    </li>
                    <li class="">
                        <a class="tabs-anchor" href="#tab3">
                            <span>{{ 'Konfirmasi'|lang }}</span>
                        </a>
                    </li>
                    <li class="">
                        <a class="tabs-anchor" href="#tab4">
                            <span>{{ 'Data Diri'|lang }}</span>
                        </a>
                    </li>
                    <li class="">
                        <a class="tabs-anchor" href="#tab5">
                            <span>{{ 'Alamat'|lang }}</span>
                        </a>
                    </li>
                    <li class="">
                        <a class="tabs-anchor" href="#tab6">
                            <span>{{ 'Ganti Password'|lang }}</span>
                        </a>
                    </li>
                    <li class="pull-right">
                        <div class="btn-wrap">
                            <a class="btn btn-primary" href="#" id="account-logout">
                                <span>{{ 'Logout'|lang }}</span>
                            </a>
                        </div>
                    </li>
                </ul>

                <div class="content">
                    <div id="tab1" class="tab-content ">
                        {% include "templates/member-home.html" %}
                    </div>
                    <div id="tab2" class="tab-content active-tab-content">
                        {% if order_id %} {% include "templates/member-order-list.html" %} {% else %}
                        <p class="empty">{{ 'Anda belum pernah berbelanja disini'|lang }}</p>
                        {% endif %}
                    </div>
                    <div id="tab3" class="tab-content">
                        {% include "templates/member-confirmation.html" %}
                    </div>
                    <div id="tab4" class="tab-content">
                        {% include "templates/member-profile.html" %}
                    </div>
                    <div id="tab5" class="tab-content">
                        {% include "templates/member-address.html" %}
                    </div>
                    <div id="tab6" class="tab-content">
                        {% include "templates/member-changepass.html" %}
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>

<script>
jQuery(document).ready(function($) {
    function tab() {
        var hash = window.location.hash;
        // // remove nav tab active 
        $('.tabs-main .tabs .active-tab').removeClass('active-tab');
        // // tab active
        $('.tabs-main li a[href="' + hash + '"]').addClass('active-tab');
        // // remove content active 
        $('.tabs-main .content .active-tab-content').removeClass('active-tab-content');
        // // active content
        $(hash).addClass('active-tab-content');
    }
    tab();
    $(window).on('hashchange', function() {
        var hash = window.location.hash;
        // // remove nav tab active 
        $('.tabs-main .tabs .active-tab').removeClass('active-tab');
        // // tab active
        $('.tabs-main li a[href="' + hash + '"]').addClass('active-tab');
        // // remove content active 
        $('.tabs-main .content .active-tab-content').removeClass('active-tab-content');
        // // active content
        $(hash).addClass('active-tab-content');
    });



});
</script>
