<div id="member-home">
    <h3 class="text-title">{{ 'Dashboard'|lang }}</h3>

    <!-- pesanan -->
    <div class="pesanan">
        <h4 class="text-title">{{ 'Pembelian Terakhir'|lang }}</h4>
        {% if order_id > 0 %}
        <table class="table table-bordered">
            <tr>
                <td width="25%">{{ 'Total Order'|lang }}</td>
                <td width="75%">
                    <strong>{{ total_order|money }}</strong>
                    ( <a href="{{ order_url }}">{{ 'Lihat Detail'|lang }}</a> )
</td>
            </tr>
            <tr>
                <td>{{ 'Alamat'|lang }}</td>
                <td>
                    {{ shipping_address }}
                    {{ shipping_city }}, {{ shipping_state }}, {{ shipping_postcode }}
                </td>
            </tr>
            <tr>
                <td>{{ 'Status'|lang }}</td>
                <td>
                    {{ order_statusname }} {% if order_statusid == 1 %} [ {{ '
                    <a href="%s">klik disini</a> untuk konfirmasi pembayaran.'|lang|format(confirmation_url) }} ] {% elseif order_statusid == 4 %} [ {{ tracking_number }} ] {% endif %}
                </td>
            </tr>
        </table>
        {% else %}
        <p>{{ 'Anda belum pernah berbelanja disini'|lang }}</p>
        {% endif %}

    </div>

    <!-- identitas -->
    <div class="identitas">
        <h4 class="text-title">{{ 'Data Diri'|lang }}</h4>
        <table class="table table-bordered">
            <tr>
                <td width="25%">{{ 'Nama'|lang }}</td>
                <td width="75%">{{ fullname }}</td>
            </tr>
            <tr>
                <td>{{ 'Email'|lang }}</td>
                <td>{{ email }}</td>
            </tr>
            <tr>
                <td>{{ 'No. HP'|lang }}</td>
                <td>{{ hp }}</td>
            </tr>
            <tr>
                <td colspan="2">(
                    <a href="{{ profile_url }}">{{ 'Lihat Detail'|lang }}</a> )</td>
            </tr>
        </table>
    </div>

</div>
