<script type="text/javascript">
$(document).ready(function() {
    $("#change_form").validate({
        rules: {
            password_old: {
                required: true
            },
            password_new: {
                required: true,
                minlength: 3
            },
            password_new2: {
                required: true,
                equalTo: "#password_new"
            }
        },
        messages: {
            password_old: {
                required: '<i class="fa fa-exclamation-triangle"></i> '+"{{ 'Password Lama harus diisi'|lang }}"
            },
            password_new: {
                required: '<i class="fa fa-exclamation-triangle"></i> '+"{{ 'Password Baru harus diisi'|lang }}",
                minlength: '<i class="fa fa-exclamation-triangle"></i> '+"{{ 'Password Baru minimal 3 karakter'|lang }}"
            },
            password_new2: {
                required: '<i class="fa fa-exclamation-triangle"></i> '+"{{ 'Ulangi Password Baru harus diisi'|lang }}",
                equalTo: '<i class="fa fa-exclamation-triangle"></i> '+"{{ 'Password Baru & Ulangi Password Baru tidak sama'|lang }}"
            }
        },
        errorLabelContainer: '#result_change .errorMsg',
        errorElement: 'div',
        submitHandler: function() {
            $.ajax({
                type: 'POST',
                url: $('#change_form').attr('action'),
                data: $('#change_form').serialize(),
                dataType: "json",
                success: function(data) {
                    if (data.status == 1) {
                        $('#result_change').html("<div class='alert alert-success'>"+data.msg+"</div>").show();
                    } else if (data.status == 2) {
                        $('#result_change').html("<div class='alert alert-danger'>"+data.msg+"</div>").show();
                    }
                }
            });
            return false;
        }
    });
});
</script>

<!-- title -->
<h3 class="text-title">{{ 'Ganti Password'|lang }}</h3>

<!-- change form -->
<div class="row">
    <div id="form-change-pass">
        <form class="form-vertical col-md-8" id="change_form" name="change_form" method="post" action="{{ changepass_action_url }}">
            <!-- error msg -->
            <div id="result_change" class="col-md-8 col-md-offset-4">
                <div class="alert alert-danger errorMsg" style="display:none;">

                </div>
            </div>
            <!-- email -->
            <div class="form-group">
                <label class="col-md-4">{{ 'Email'|lang }}</label>
                <div class="col-md-8">
                    {{ username }}
                </div>
            </div>
            <!-- old pass -->
            <div class="form-group">
                <label class="col-md-4">{{ 'Password Lama'|lang }}
                    <span>*</span>
                </label>
                <div class="col-md-8">
                    <input class="form-control" type="password" name="password_old" id="password_old" />
                </div>
            </div>
            <!-- new pass -->
            <div class="form-group">
                <label class="col-md-4">{{ 'Password Baru'|lang }}
                    <span>*</span>
                </label>
                <div class="col-md-8">
                    <input class="form-control" type="password" name="password_new" id="password_new" />
                </div>
            </div>
            <!-- re new pass -->
            <div class="form-group">
                <label class="col-md-4">{{ 'Ulangi Password Baru'|lang }}
                    <span>*</span>
                </label>
                <div class="col-md-8">
                    <input class="form-control" type="password" name="password_new2" id="password_new2" />
                </div>
            </div>
            <!-- submit -->
            <div class="form-group">
                <div class="col-md-8 col-md-offset-4">
                    <input class="formBtn btn btn-primary pull-right" type="submit" name="add_change" value="{{ 'Ganti'|lang }}" />
                </div>
            </div>
        </form>
    </div>

</div>
