<script type="text/javascript">
$(document).ready(function() {
    $("#profile_form").validate({
        rules: {
            fullname: {
                required: true,
                minlength: 3
            },
            nohp: {
                required: true
            }
        },
        messages: {
            fullname: {
                required: "{{ 'Nama Lengkap harus diisi'|lang }}",
                minlength: "{{ 'Nama Lengkap minimal 3 karakter'|lang }}"
            },
            nohp: {
                required: "{{ 'No. Handphone harus diisi'|lang }}"
            }
        },
        errorLabelContainer: '.errorMsg-member-profil',
        errorElement: 'div',
        submitHandler: function() {
            $.ajax({
                type: 'POST',
                url: $('#profile_form').attr('action'),
                data: $('#profile_form').serialize(),
                dataType: "json",
                success: function(data) {
                    if (data.status == 1) {
                        $('#result_profile').html(data.msg).show();
                        normalText();
                    } else if (data.status == 2) {
                        $('#result_profile').html(data.msg).show();
                    }
                }
            });
            return false;
        }
    });

    $("#change-profile").live("click", updateText);

    function updateText() {
        sName = $(".change-profile").find(".edit-fullname").text();
        sMobile = $(".change-profile").find(".edit-nohp").text();
        $(".change-profile").find(".edit-fullname").html('<input class="form-control" type="text" name="fullname" id="fullname"  value="' + sName + '" />');
        $(".change-profile").find(".edit-nohp").html('<input class="form-control" type="text" name="nohp" id="nohp"  value="' + sMobile + '" />');
        $(".change-profile").find(".edit-submit").html('<input class="btn btn-primary pull-right" type="submit" name="edit_profile" value="{{'Simpan'|lang }}" />');
    }

    function normalText() {
        sName = $(".change-profile").find("#fullname").val();
        sMobile = $(".change-profile").find("#nohp").val();
        $(".change-profile").find(".edit-fullname").html(sName);
        $(".change-profile").find(".edit-nohp").html(sMobile);
        $(".change-profile").find(".edit-submit").html('<input id="change-profile" class="btn btn-primary pull-right" type="button" value="{{'Ubah data diri '|lang }}" />');
    }
});
</script>

<div class="">
   <div id="member-profil">
   	 <h3 class="text-title">{{ 'Data Diri'|lang }}</h3>




    <form id="profile_form" class="nopadding col-md-8" name="profile_form" method="post" action="{{ profile_action_url }}">

        <!-- error msg -->
        <div id="result_profile">
            <div class="alert alert-danger errorMsg-member-profil" style="display:none;"></div>
        </div>

        <!-- form input -->
        <div class="change-profile">
            <!-- email -->
            <div class="form-group">
                <label class="col-md-4 nopadding">{{ 'Email'|lang }}</label>
                <div class="col-md-8">
                    {{ email }}
                </div>
            </div>

            <!-- username -->
            <div class="form-group">
                <label class="col-md-4 nopadding">{{ 'Username'|lang }}</label>
                <div class="col-md-8">
                    {{ username }}
                </div>
            </div>

            <!-- fullname -->
            <div class="form-group">
                <label class="col-md-4 nopadding">{{ 'Nama Lengkap'|lang }}
                </label>
                <div class="col-md-8 edit-fullname">
                    {{ fullname }}
                </div>
            </div>

            <!-- handphone -->
            <div class="form-group">
                <label class="col-md-4 nopadding">{{ 'No. Handphone'|lang }}
                </label>
                <div class="col-md-8 edit-nohp">
                    {{ hp }}
                </div>
            </div>

            <!-- submit -->
            <div class="form-group">
                <div class="col-md-8 col-md-offset-4 edit-submit">
                    <input id="change-profile" class="btn btn-primary pull-right" type="button" value="{{ 'Ubah data diri'|lang }}" />
                </div>
            </div>

        </div>

    </form>
   </div>
</div>
