<script type="text/javascript">
$(document).ready(function() {
    $('#country_id').change(function() {
        var country_id = $(this).val();
        var url_action = '{{ addressajax_action_url }}';
        var post_data = 'action=get_state&country_id=' + country_id;
        $.post(url_action, post_data, function(data) {
            $('#state_id').empty().html(data);
            $('#city_id').empty().html('<option value="">{{ ' - pilih kota - '|lang }}</option>');
        });
    });

    $('#state_id').change(function() {
        var state_id = $(this).val();
        var url_action = '{{ addressajax_action_url }}';
        var post_data = 'action=get_shipping_city&state_id=' + state_id;
        $.post(url_action, post_data, function(data) {
            $('#city_id').empty().html(data);
        });
    });

    // ajax post 
     $("#address_add_form").validate({
        rules: {
            firstname: {
                required: true,
                minlength: 3
            },
            lastname: {
                required: true
            },
            address: {
                required: true
            },
            state_id: {
                required: true
            },
            city_id: {
                required: true
            },
            phone_mobile: {
                required: true
            }
        },
        messages: {
            firstname: {
                required: "<i class="fa fa-exclamation-triangle"></i> "+"{{ 'Nama Depan harus diisi'|lang }}",
                minlength: "<i class="fa fa-exclamation-triangle"></i> "+"{{ 'Nama Depan minimal 3 karakter'|lang }}"
            },
            lastname: {
                required: "<i class="fa fa-exclamation-triangle"></i> "+"{{ 'Nama Belakang harus diisi'|lang }}"
            },
            address: {
                required: "<i class="fa fa-exclamation-triangle"></i> "+"{{ 'Alamat harus diisi'|lang }}"
            },
            state_id: {
                required: "<i class="fa fa-exclamation-triangle"></i> "+"<i class="fa fa-exclamation-triangle"></i> "+"{{ 'Kota harus diisi'|lang }}"
            },
            city_id: {
                required: "<i class="fa fa-exclamation-triangle"></i> "+"{{ 'Propinsi harus diisi'|lang }}"
            },
            phone_mobile: {
                required: "<i class="fa fa-exclamation-triangle"></i> "+"{{ 'No. Handphone harus diisi'|lang }}"
            }
        },
        errorLabelContainer: '.errorMsg',
        errorElement: 'div',

        submitHandler: function() {
            $.ajax({
                type: 'POST',
                url: $('#address_add_form').attr('action'),
                data: $('#address_add_form').serialize(),
                dataType: "json",
                success: function(data) {
                    if (data.status == 1) {
                        window.location.href = data.redirect;
                    } else if (data.status == 2) {
                         $('#result').html("<div class='alert alert-danger'>"+data.msg+"</div>").show();
                    }
                }
            });
            return false;
        }
    });

});
</script>

<div class="">
    <div id="member-address-add">
        <h3 class="text-title">{{ 'Alamat Tagihan'|lang }}</h3><hr>

        <!-- member address add -->
        <form id="address_add_form" class="form-vertical col-md-8" name="address_add_form" method="post" action="{{ addressadd_action_url }}">

            <!-- error msg -->
            <div id="result" class="col-md-8 col-md-offset-4">
                <div class="alert alert-danger errorMsg" style="display:none;"></div>
            </div>

            <!-- first name -->
            <div class="form-group">
                <label class="col-md-4">{{ 'Nama Depan'|lang }}
                    <span>*</span>
                </label>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="firstname" id="firstname" />
                </div>
            </div>

            <!-- last name -->
            <div class="form-group">
                <label class="col-md-4">{{ 'Nama Belakang'|lang }}
                    <span>*</span>
                </label>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="lastname" id="lastname" />
                </div>
            </div>


            <!-- company -->
            <div class="form-group">
                <label class="col-md-4">{{ 'Perusahaan'|lang }}</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="company" id="company" />
                </div>
            </div>


            <!-- address -->
            <div class="form-group">
                <label class="col-md-4">{{ 'Alamat'|lang }}
                    <span>*</span>
                </label>
                <div class="col-md-8">
                    <textarea class="form-control" name="address" id="address" /></textarea>
                </div>
            </div>


            <!-- country -->
            <div class="form-group">
                <label class="col-md-4">{{ 'Negara'|lang }}
                    <span>*</span>
                </label>
                <div class="col-md-8">
                    <select class="form-control" name="country_id" id="country_id">
                        <option value="">{{ '-pilih negara-'|lang }}</option>
                        {% include 'snippets/country-options.html' with { 'selected': default_country_id } %}
                    </select>
                </div>
            </div>

            <!-- provinsi -->
            <div class="form-group">
                <label class="col-md-4">{{ 'Propinsi'|lang }}
                    <span>*</span>
                </label>
                <div class="col-md-8">
                    <select class="form-control" name="state_id" id="state_id">
                        <option value="">{{ '-pilih propinsi-'|lang }}</option>
                        {% include 'snippets/state-options.html' %}
                    </select>
                </div>
            </div>

            <!-- city -->
            <div class="form-group">
                <label class="col-md-4">{{ 'Kota/Kabupaten'|lang }}
                    <span>*</span>
                </label>
                <div class="col-md-8">
                    <select class="form-control" name="city_id" id="city_id">
                        <option value="">{{ '-pilih kota-'|lang }}</option>
                    </select>
                </div>
            </div>

            <!-- code pos -->
            <div class="form-group">
                <label class="col-md-4">{{ 'Kode Pos'|lang }}</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="postcode" id="postcode" />
                </div>
            </div>

            <!-- no telp -->
            <div class="form-group">
                <label class="col-md-4">{{ 'No. Telp'|lang }}</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="phone" id="phone" />
                </div>
            </div>


            <!-- no hp -->
            <div class="form-group">
                <label class="col-md-4">{{ 'No. HP'|lang }}
                    <span>*</span>
                </label>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="phone_mobile" id="phone_mobile" />
                </div>
            </div>

            <!-- submit -->
            <div class="form-group">
                <div class="col-md-8 col-md-offset-4">
                    <input class="btn btn-primary pull-right" type="submit" name="add_address" value="{{ 'Submit'|lang }}" />
                </div>
            </div>
        </form>


    </div>
</div>
