<div class="row">
    <div class="col-md-12">
        <div class="breadcrumb">
            <h2 class="text-title">{{ 'Berita'|lang }}</h2>
        </div>
    </div>
</div>


<div class="row">
    <div class="news-list">
        {% for item in news %}
        <article class="col-md-12 margin-bottom">
            <figure class="col-md-4">
                <div class="img">
                    {% if item.image %}
                    <a href="{{ item.url }}">
                        <div class="img">
                            <img src="{{ item.image }}" alt="">
                        </div>
                    </a>
                    {% endif %}
                </div>
            </figure>
            <div class="caption col-md-8">
                <header>
                    <h2 class="text-capital">
                        <a href="{{ item.url }}">{{ item.title }}</a>
                    </h2>
                    <small class="date">{{ item.date|date("d M Y") }}</small>
                </header>
                <section>
                    {{ item.content|striptags|slice(0, 250) }} ...
                </section>
                <footer>
                    <a href="{{ item.url }}" title="">{{ 'Selengkapnya'|lang }}</a>
                </footer>
            </div>

        </article>
        {% endfor %} {% include 'snippets/pagination.html' %}
    </div>
</div>
