<script type="text/javascript">
var current_state_id = {{ default_state_id }};
</script>
<script type="text/javascript">
jQuery(document).ready(function(){
    
    jQuery('#loaddata').hide();
    jQuery('.loading').fadeIn(500);
    
    var action = '{{ shipping_list_url }}';
    
    jQuery('#loaddata').load(action,{action:'ongkir','id':current_state_id},function(respon){
        jQuery('#loaddata').html(respon).fadeIn(800);
        jQuery('.loading').fadeOut(500);
    });
    
    jQuery('#state_id').change(function(){      
        var id = jQuery(this).val();        
        var post = 'action=ongkir&id='+id;
        
        jQuery('#loaddata').fadeOut(400);
        jQuery('.loading').fadeIn(500);     
        
        jQuery.post(action,post,function(respon){
            jQuery('#loaddata').html(respon).fadeIn(800);
            jQuery('.loading').fadeOut(500);    
        });
            
    }); 
});
</script>

<div class="row">
<div class="col-md-10 col-md-offset-1">
<h1 class="text-title">{{ 'Daftar Ongkos Pengiriman'|lang }}</h1>
<div class="row">
    <div class="form-group col-md-6">
    <select id="state_id" class="form-control" name="state_id">
{% include 'snippets/state-options.html' %}
</select>
</div>
</div>

<!-- loading image -->
<div class="loading" style="display:none">
<img src="{{ 'loading.gif'|asset_url }}" alt="Loading.." />
</div>

<!-- table -->
<div class="table-responsive">
<div id="loaddata"></div>
</div>
</div>
</div>


<style>
    th{
        background-color: #EEE;
    }
    tr, td, th{
        border: 1px solid #ddd;
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
    }
</style>