<div class="row">
    <div class="col-md-12">
        <div class="breadcrumb">
            <h3 class="text-title">{{ 'Hasil polling'|lang }}</h3>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
var arr_data = {
    {
        data
    }
};
google.load("visualization", "1", {
    packages: ["corechart"]
});
google.setOnLoadCallback(drawChart);

function drawChart() {
    var data = google.visualization.arrayToDataTable(arr_data);

    var options = {
        title: '{{ title }}'
    };

    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
    chart.draw(data, options);
    var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
    chart.draw(data, options);
    var chart = new google.visualization.PieChart(document.getElementById('chart_div3'));
    chart.draw(data, options);
    var chart = new google.visualization.PieChart(document.getElementById('chart_div4'));
    chart.draw(data, options);
}
</script>
<div class="row">
    <div id="polling" class="col-md-12">
        <div id="chart_div" class="visible-lg"></div>
        <div id="chart_div2" class="visible-md "></div>
        <div id="chart_div3" class="visible-sm "></div>
        <div id="chart_div4" class="visible-xs"></div>
    </div>
</div>
