<div class="row">
    <div class="col-md-12 nopadding">
        <div class="breadcrumb">
                <span>{{ 'Pencarian produk'|lang }}</span>
        </div>
    </div>
</div>

<!-- wrapper -->
<div class="row">
    <form class="form-vertical col-md-8" method="post" action="">
        <input type="hidden" name="src" value="1" />
        <input type="hidden" name="in_search" value="1" />
        <!-- kata kunci -->
        <div class="form-group">
            <label class="col-md-4">{{ 'Kata kunci'|lang }}</label>
            <div class="col-md-8">
                <input type="text" name="keyword" class="form-control" value="{{ keyword_value }}" />
            </div>
        </div>

        <!-- harga  -->
        <div class="form-group">
            <label class="col-md-4">{{ 'Harga'|lang }}</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="from" value="{{ price_from_value }}" placeholder="Dari" />
            </div>
        </div>

        <!-- harga sampai -->
        <div class="form-group">
            <label class="col-md-4"></label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="to" value="{{ price_to_value }}" placeholder="{{ 's/d'|lang }}" />
            </div>
        </div>

        <!-- submit -->
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                <input type="submit" name="search" value="{{ 'Cari'|lang }}" class="btn btn-primary pull-right" />
            </div>
        </div>

    </form>
</div>


<div class="row">
    <div class="col-md-12">
        {% if products != false %} {% if products == 'null' %}
        <div class="error">
            <div class="alert alert-warning errorMsg">
                {{ 'Produk tidak ditemukan'|lang }}
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-sm-6">

                <div class="btn-group ">
                    {% if sort_link.newest != '' %}
                    <a class="btn btn-sm " href="{{ sort_link.newest}}">{{ 'Terbaru'|lang }}</a>
                    {% else %}
                    <a class="btn btn-sm btn-primary ">{{ 'Terbaru'|lang }}</a>
                    {% endif %} {% if sort_link.cheapest != '' %}
                    <a class="btn btn-sm " href="{{ sort_link.cheapest}}">{{ 'Termurah'|lang }}</a>
                    {% else %}
                    <a class="btn btn-sm btn-primary ">{{ 'Termurah'|lang }}</a>
                    {% endif %} {% if sort_link.expensive != '' %}
                    <a class="btn btn-sm " href="{{ sort_link.expensive}}">{{ 'Termahal'|lang }}</a>
                    {% else %}
                    <a class="btn btn-sm btn-primary ">{{ 'Termahal'|lang }}</a>
                    {% endif %}
                </div>
            </div>

            <div class=" col-sm-6">
                <div class="pull-right">
                    {% if max_link.show == '200' %}
                    <a href="{{ max_link.url }}" class="btn btn-primary">{{ 'Tampilkan 200 per halaman' }}</a>
                    {% else %}
                    <a href="{{ max_link.url }}" class="btn btn-primary">{{ 'Tampilkan 20 per halaman' }}</a>
                    {% endif %}
                </div>
            </div>
            
        </div>
    </div>

<!-- result item -->
    <div class="col-md-12 search-result">
        <div class="item-box">
            <ul>
                {% for productlist in products %} {% include 'snippets/product-item-medium.html' %} {% endfor %}
            </ul>
        </div>
        <script>
        //Masonry
        var mcontainer = $('.item-box');
        mcontainer.each(function() {
            var mc = $(this);
            mc.imagesLoaded(function() {
                mc.masonry({
                    itemSelector: '.item-inner'
                });
            })
        });
        </script>

        <!-- pagging -->
        <div class="row">
            <div class="col-md-12">
                {% if paginate|length > 0 %} {% include 'snippets/pagination.html' %} {% endif %}
            </div>
        </div>


    </div>
</div>
{% endif %} {% endif %}
</div>
</div>
</div>
</div>
