
	<div class="title"><h3><span>Daftar Ongkos Pengiriman</span></h3></div>

<script type="text/javascript">

var current_state_id = 13;

</script>

<script type="text/javascript" src="http://cdn.jejualan.com/assets/js/public.ongkir.js"></script>

<select id="state_id" name="state_id">

<option value="1">Aceh</option>
<option value="17">Bali</option>
<option value="9">Bangka Belitung</option>
<option value="11">Banten</option>
<option value="3">Bengkulu</option>
<option value="16">DI Yogyakarta</option>
<option value="13" selected="selected">DKI Jakarta</option>
<option value="24">Gorontalo</option>
<option value="4">Jambi</option>
<option value="12">Jawa Barat</option>
<option value="14">Jawa Tengah</option>
<option value="15">Jawa Timur</option>
<option value="20">Kalimantan Barat</option>
<option value="21">Kalimantan Selatan</option>
<option value="22">Kalimantan Tengah</option>
<option value="23">Kalimantan Timur</option>
<option value="10">Kepulauan Riau</option>
<option value="8">Lampung</option>
<option value="30">Maluku</option>
<option value="31">Maluku Utara</option>
<option value="18">Nusa Tenggara Barat</option>
<option value="19">Nusa Tenggara Timur</option>
<option value="33">Papua</option>
<option value="32">Papua Barat</option>
<option value="5">Riau</option>
<option value="29">Sulawesi Barat</option>
<option value="25">Sulawesi Selatan</option>
<option value="27">Sulawesi Tengah</option>
<option value="26">Sulawesi Tenggara</option>
<option value="28">Sulawesi Utara</option>
<option value="6">Sumatra Barat</option>
<option value="7">Sumatra Selatan</option>
<option value="2">Sumatra Utara</option>
</select>



<div id="loaddata"></div>

<div class="loading" style="display:none"><img src="http://ogi.jejualan.com/assets/images/loading.gif" alt="" title="" border="0" /></div>

			
					