<!-- breadcrumb -->
<div class="row">
    <div class="col-md-12">
        <div class="breadcrumb">
            <h1 class="text-title">{{ 'Data testimonial'|lang }}</h1>
        </div>
    </div>
</div>

<!-- testimonial -->
<div class="row">
    <div id="testimonial" class="col-md-12">
        <script type="text/javascript">
        $(document).ready(function() {

            $('#open_form_testimonial').toggle(function() {
                $(this).empty().html("(x) {{ 'Tutup'|lang }}");
                $('#testimonial_form').slideDown(400);
            }, function() {
                $(this).empty().html("(+) {{ 'Tambah testimonial'|lang }}");
                $('#testimonial_form').slideUp(400);
            });

            $("#testimonial-valid").validate({
                rules: {
                    name: {
                        required: true,
                        minlength: 3
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    content: {
                        required: true,
                    },
                    code:{
                        required: true,
                    }
                },
                messages: {
                    name: {
                        required: "{{ 'Nama harus diisi'|lang }}",
                        minlength: "{{ 'Nama minimal 3 karakter'|lang }}"
                    },
                    email: {
                        required: "{{ 'Email harus diisi'|lang }}",
                        email: "{{ 'Email tidak valid (contoh: nama@domain.com)'|lang }}"
                    },

                    content: {
                        required: "{{ 'Content harus diisi'|lang }}"
                    },

                    code: {
                        required: "{{ 'Capcha harus diisi'|lang }}"
                    },
                },
                errorLabelContainer: '.errorMsg',
                errorElement: 'div',
                errorClass: "errorMsg",

                submitHandler: function() {
                    $.ajax({
                        type: 'POST',
                        url: "{{ testimonial.action_url }}",
                        data: $("#testimonial-valid").serialize(),
                        dataType: "json",
                        success: function(data) {
                            if (data.status == 1) {
                                $('#result').html(data.msg).show();
                            } else if (data.status == 2) {
                                $('#result').html(data.msg).show();
                                $('#captcha').attr('src', '{{ captcha_url }}?r=' + Math.random());
                            }
                        }
                    });
                    return false;
                }
            });

        });
        </script>

        <a href="#" class="btn btn-second" id="open_form_testimonial">
            (+) {{ 'Tambah testimonial'|lang }}
        </a>


        <!-- form testimonial -->
        <div class="row">
            <div id="testimonial_form" style="display:none">


                <!-- form input -->
                <form id="testimonial-valid" class="form-vertical col-md-8" method="post" action="">
                    <!-- alert -->
                    <div id="result" class="col-md-8 col-md-offset-4">
                        <div class="alert alert-danger  errorMsg" style="display:none"></div>
                    </div>
                    <!-- name -->
                    <div class="form-group">
                        <label class="col-md-4">{{ 'Nama'|lang }}
                            <span>*</span>
                        </label>
                        <div class="col-md-8">
                            <input type="text" name="name" id="name" class="form-control">
                        </div>
                    </div>
                    <!-- email -->
                    <div class="form-group">
                        <label class="col-md-4">{{ 'Email'|lang }}
                            <span>*</span>
                        </label>
                        <div class="col-md-8">
                            <input type="text" name="email" id="email" class="form-control">
                        </div>
                    </div>
                    <!-- address -->
                    <div class="form-group">
                        <label class="col-md-4">{{ 'Alamat'|lang }}</label>
                        <div class="col-md-8">
                            <input type="text" name="address" id="address" class="form-control">
                        </div>
                    </div>
                    <!-- content -->
                    <div class="form-group">
                        <label class="col-md-4">{{ 'Isi testimonial'|lang }}
                            <span>*</span>
                        </label>
                        <div class="col-md-8">
                            <textarea name="content" class="form-control" id="content" rows="5"></textarea>
                        </div>
                    </div>
                    <!-- kode keamanan -->
                    <div class="form-group">
                        <label class="col-md-4">{{ 'Kode keamanan'|lang }}
                            <span>*</span>
                        </label>
                        <div class="col-md-8">
                            <img src="{{ captcha_url }}" id="captcha">&nbsp;
                            <input style="max-width:100px !important;" type="text" name="code" id="code" size="10" class="form-control">
                        </div>
                    </div>
                    <!-- submit -->
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-4">
                            <input type="submit" name="save_testimonial" class=" btn btn-primary pull-right" value="{{ 'Simpan'|lang }}" id="save_testimonial">
                        </div>
                    </div>
                </form>
            </div>

        </div>


        <!-- view testimonial -->
        <div class="row">
            {% if testimonial != false %} {% for row in testimonial %} {% if row.content != '' %}
            <div class="col-sm-6 posting-view">
                <div class="testim">
                    <p>
                        <em>{{ row.date|date('d M Y') }}</em>
                    </p>
                    <p>{{ row.content }}</p>
                </div>
                <div class="arrow pull-right"></div>
                <a>
                    <p class="contributor">
                        <strong>{{ row.name }}
                            <small class="pull-right">
                                <img style="width:12px;" src="{{ 'testi-location.png'|asset_url }}" alt="" />{{ row.address }} &nbsp;&nbsp;&nbsp;</small>
                        </strong>
                    </p>
                </a>
            </div>
            {% endif %} {% endfor %} {% include 'snippets/pagination.html' %} {% endif %}
        </div>
    </div>
</div>
